option_settings:
  - option_name: RDS_SERVER
    value: capatek.cxeqoqo1lo9s.eu-west-1.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 3306
  - option_name: RDS_DB_NAME
    value: expense
  - option_name: RDS_DB_USER
    value: capatek
  - option_name: RDS_DB_PASS
    value: TitNpw4W
  - option_name: AWS_SITEEMAIL
    value: postmaster@sandboxb3198e55080b441f967c39ceff6a7fa7.mailgun.org